<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.chinanets.sj.mapper.AyMapper">

    <sql id="Base_Column_List">
        ID, AJLX_ID, KLB, SJAYID, MC, AYJB, QLJ, AYFL, STATUS
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from AY
        where ID = #{id}
    </select>

</mapper>