<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.chinanets.sj.mapper.FlqwjbxxMapper">

    <sql id="Base_Column_List">
        ID, FLFL_ID, MC, BBH, BBRQ, SSRQ, SXRQ, YXX, BBBM, FLLB, WCZT, QS, FLXXFL, BZ, LSID
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from FLQWJBXX
        where ID = #{id}
    </select>

</mapper>